.centerContent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90vh;
}

.errorContainer {
    text-align: center;
    padding: 10px;
}
