/*
 * COLORS:
 * backgrounds: #181F27
 * main-text: #D4E6FF
 * sub-text: #7A8B9F
 * box-backgrounds: #151C25
 * header-box: #1B2430
 * stroke-1: #1F2833
 * stroke-2: #3B495B
 * button-body: #141A22
*/

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    padding: 0 25px 0 25px;
    background-color: #181F27;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: fit-content;
    height: 50px;
    padding: 0 10px 0 10px;;

    background-color: #151C25;
    border: 1px solid #212831;
    border-top: 0;

    z-index: 2;
}

.main-content {
    flex: 1;
}

p, ul, li {
    color: #7A8B9F;
}

h1 {
    color: #D4E6FF;
    font-weight: normal;
    font-size: 2.5rem;
}
h3 {
    color: #7A8B9F;
    font-weight: normal;
    font-size: 1.5rem;
}

.center-content {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

a:link {
    text-decoration: None;
    cursor: pointer;
}

.keybind-button, .link-button, .link-button-active{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 30px;

    color: #7A8B9F;
    font-size: .7rem;

    background-color: #141A22;
    border: 1px solid #212831;
}

.keybind-button {
    width: 15px;
    height: 20px;
}

.link-button-active {
    color: #C2CCD9;
    background-color: #394556;
    border: 1px solid #B9C5D4;
}

.keybinds {
    display: flex;
    position: absolute;
    top: 0;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0 10px 0 10px;;
}

.keybind-tile {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 77px;
    height: 32px;
}

.keybind-tile > p {
    text-align: center;
    border: 1px dashed #3B495B;
    width: 20px;
    font-size: .9rem;
}

.spacer {
    width: 15px;
    height: 20px;
}

.container {
    background-color: #151C25;
    border: 1px solid #3B495B;
}

.slide-up {
    animation: slide-up 0.1s ease-in-out forwards;
}

.slide-down {
    animation: slide-down 0.1s ease-in-out forwards;
}

@keyframes slide-up {
  from {
    top: 0;
  }

  to {
    top: 55px;
  }
}

@keyframes slide-down {
  from {
    top: 55px;
  }

  to {
    top: 0px;
  }
}

.tag-box {
    color: #7A8B9F;
    font-size: 0.8rem;
    font-weight: bold;
    background-color: #1B2430;
    border: 1px solid #394556;
    width: fit-content;
    padding: 2px;
}

.section-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hug-bottom {
    display: flex;
    align-items: flex-end;
}

.util-header {
    display: flex;
    flex-direction: row;
    height: fit-content;
    gap: 5px;
}

.util-header > h3 {
    font-size: 20px;
}

.util-header > button {
    color: #7A8B9F;
    background-color: #1B2430;
    border: 1px solid #394556;
    width: 21px;
    height: 21px;
    margin-top: 4px;
}

input, textarea {
    width: 100%;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 10px;
    
    border: 1px solid #394556;
    
    background-color: #DCDCDC;
    color: #1C1E22;
}

.tag-bar {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.tag-bar > i {
    color: #D4E6FF;
    font-size: 0.8rem;
}

footer {
    color: #D4E6FF;
    height: 100%;
    padding-bottom: 10px;
    font-size: 0.8rem;
}
