body {
    height: 100vh;
}


h1 {
    color: #D4E6FF;
    font-weight: normal;
    font-size: 2.5rem;
}

h3 {
    color: #7A8B9F;
    font-weight: normal;
    font-size: 1.5rem;
}

.home-container {
    display: flex;
    gap: 70px;
    margin-top: 50px;
}

.split-container {
    flex: 1 1 auto;
    max-width: 400px;
}

.name {
    margin-bottom: 45px;
}

.shelf {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.shelf-info {
    display: flex;
    justify-content: center;
}

.shelf-title {
    font-weight: bold;
    font-size: .8rem;
    padding: 5px;
    color: #7A8B9F;
    background-color: #1B2430;
    border: 1px solid #394556;
    border-top: none;
}

.tile-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
}

.tile {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #141A22;
    border: 1px solid #212831;
}

.logo {
    display: flex;
    align-items: center;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    margin: 15px;
    background-color: #151C25;
    border: 1px solid #1F2833;
}

img {
    width: 30px;
    margin: 15px;
}

.tile-info {
    padding: 8px 8px 8px 0;
}

.tile-title {
    text-align: center;
    font-size: 1.2rem;
    color: #CDE2FF;
}

.tile-desc {
    font-size: 0.7rem;
    color: #7A8B9F;
}
