body {
    height: 100vh;
}

.homeContainer {
    display: flex;
    gap: 70px;
    margin-top: 100px;
    margin-bottom: 50px;
}

.splitContainer {
    flex: 1 1 auto;
    max-width: 400px;
}

.name {
    margin-bottom: 45px;
}

.shelf {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.shelfInfo {
    display: flex;
    justify-content: center;
}

.shelfTitle {
    font-weight: bold;
    font-size: .8rem;
    padding: 5px;
    color: #7A8B9F;
    background-color: #1B2430;
    border: 1px solid #394556;
    border-top: none;
}

.tileContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
}

.tile {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #141A22;
    border: 1px solid #212831;
}

.logo {
    display: flex;
    align-items: center;
}

.imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    margin: 15px;
    background-color: #151C25;
    border: 1px solid #1F2833;
}

.tileImg {
    width: 30px;
    margin: 15px;
}

.tileInfo {
    padding: 12px 12px 12px 0;
}

.tileTitle {
    font-size: 1.1rem;
    color: #CDE2FF;
    margin-bottom: 2px;
}

.tileDesc {
    font-size: 0.7rem;
    color: #7A8B9F;
}
