.instanceContainer {
    margin: 100px 100px 50px 100px;
    min-width: 530px;
    max-width: 800px;
    width: 100%;
}

.backtrackLink {
   text-decoration: none; 
   color: #D4E6FF;
}

.backtrackLink > img {
    width: 12px;
    margin-right: 5px;
}

.headerTop {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 10px;

}

.headerTop > h1 {
    font-size: 2.1rem;
}

.headerTop > h3 {
    display: flex;
    align-items: flex-end;
    font-size: 0.9rem;
    font-weight: bold;
}

.header > p {
    margin-top: 5px;
    font-size: 1rem;
}

.category {
    width:fit-content;
    color: #7A8B9F;
    background-color: #1B2430;
    border: 1px solid #394556;
    padding: 3px 7px 3px 7px;
    font-size: 0.7rem;
    font-weight: bold;
    margin-top: 5px;
}


.visual {
    width: 100%;
    border: 1px solid #B9C5D4;
    margin-top: 20px;
}

.instanceLinks {
    display: flex;
    gap: 20px;
    margin: 20px 0 20px 0;
}

.instanceLinks > a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #141A22;
    border: 1px solid #3B495B;
    font-size: 0.9rem;
    color: #D4E6FF;
    width: 120px;
    height: 35px;
    cursor: pointer;
}

.content {
    background-color: #151C25;
    border: 1px solid #3B495B;
    width: 100%;
    padding: 20px;
    margin-top: 30px;
    color: #D4E6FF;
}

.content > h2 {
    font-size: 1.2rem;
    width: 100% - 20px;
}

article > h1, article > h2, article > h3 {
    color: #D4E6FF;
}
