<!DOCTYPE html>
<html lang = en>
    <head>
        <meta charset = "UTF-8">
        <title>DP</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Gideon+Roman&display=swap" rel="stylesheet">
        <link rel = "stylesheet" href = "css/style.css">
        <script src="js/index.js" defer></script>
    </head>
    <body>
        <script>0</script>
        <canvas class="backdrop"></canvas>
        <div class="center-contain">
            <div class="container">
                <main>
                    <div class="split" id="left">
                        <div class="title">
                            <h2>Daniel Podgornyy</h2>
                            <h3>Software Engineer</h3>
                        </div>
                        <nav>
                            <a>Work</a> 
                            <a>Resume</a> 
                            <a>Blog</a>
                            <a>Bababooey</a>
                        </nav>
                    </div>
                    <div class="split" id="right">
                        <p>
                            Work hard, play your cards right, and all will be well.
                        </p>
                        <b>
                            Current work - XXX
                        </b>
                    </div>
                </main>
                <nav class="social">
                    <a href="https://github.com/danielpodgornyy">
                        <img src="./imgs/github.png" alt="github"></img>
                    </a>
                    <a href="https://www.youtube.com/@actayon">
                        <img src="./imgs/youtube.png" alt="youtube"></img>
                    </a>
                </nav>
            </div>
        </div>
    </body>
</html>
