<!DOCTYPE html>
<html lang = en>
    <head> <meta charset = "UTF-8">
        <title>Work</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Gideon+Roman&display=swap" rel="stylesheet">
        <link rel = "stylesheet" href = "css/work.css">
        <script src="js/index.js" defer></script>
    </head>
    <body>
        <script>0</script>
        <canvas class="backdrop"></canvas>
        <div class="center-contain">
            <div class="container">
                <h2>My Work</h2>
                <main>
                    <div>Lorem odit perferendis qui nisi eum vel cupiditate inventore Molestiae quasi dolorum alias repellendus vitae Ullam ex doloribus velit facere ipsum unde? Veritatis cum ducimus optio et error Animi minima!</div>
                </main>
            </div>
        </div>
    </body>
</html>
